
body{
  margin:0;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color : #40514E;

}
h1{
    margin: 30px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    color:#66BFBF;
    line-height: 2;
}
h2{
  font-family: 'Spline Sans', sans-serif;
  font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
  font-family: 'Spline Sans', sans-serif;
  color: #11999E;
}
a{
  color:#11999E;
}
a:hover{
  color: #EAF6F6;
}
hr{

    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 5%;
    margin: 100px auto 100px auto;

}
p{
  line-height: 2;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 50px;
}
.middle-container{
  padding-top: 30px;
}
.bottom-container{
  margin-top: 50px;
  background-color: #66BFBF;
  padding-top:30px;
  line-height: 2;
  padding-bottom:30px;
}
.bottom-cloud{
   position: absolute;

}
.top-cloud{
  position: absolute;
  right:30%;
  top:10%;
}
.pro{
  text-decoration: underline;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.codingimage{
   width:25%;
  float: left;
  margin-right: 30px;
}
.teamimage{
   width:25%;
   float:right;
   margin-left: 30px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Spline Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.contact-me{
  line-height: 2;
}
.copy-right{
  color:#EAF6F6;
  font-family: 'Spline Sans', sans-serif;
  font-size: 0.75rem
}
.footer-link{
  margin: auto 10px auto 10px;
  text-decoration: none;
}
.getintouchdes{
  margin: 40px auto 40px auto;
  width :40%
}
.intro{
  width: 45%;
  margin: 0 auto 0 auto;
}
